.containers {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100vh;
}
.search-img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 400px;
  @media (max-width: 623px) {
    margin-top: 1rem;
  }
  @media (max-width: 424px) {
    margin-top: 2rem;
  }
}
.header {
  position: fixed;
}
.search-area {
  z-index: 100;
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15rem 0 0 -15rem;
  @media (max-width) {
  }
}
.search-filter {
  color: rgba(227, 46, 46, 0.85);
  text-align: center;
  justify-content: center;
}
.search-filter div {
  padding: 0.5rem 0.3rem;
}

//features section design
.features-list {
  margin-top: 2rem;
}

// designing card
.card-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f8f5f5;
  width: 18.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 2rem;
}
.types {
  position: absolute;
  margin-top: 10.4rem;
}
.type-box {
  background-color: rgba(255, 255, 255, 0.62);
  padding: 0.2rem 1rem 0.2rem 0;
}
.price-box {
  background-color: rgba(22, 49, 90, 0.8);

  padding: 0.2rem 1rem 0.2rem 0;
  color: white;
}
.card-body {
  margin: 0.5rem;
}
.card-body .address {
  width: 10rem;
  display: block; /* or inline-block */
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.1em;
}
.card-body .address:hover {
  overflow: visible;
  max-height: 100%;
  width: 80%;
  white-space: normal;
}
.card-footer {
  padding-bottom: 1rem;
}
