html {
  font-size: 62.5%; /* 16px *62.5 = 10px =1rem */
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
}
#root {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 1px solid #e02822;
  border: 0px;
}

select {
  outline: none;
}

* {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    270deg,
    rgba(197, 30, 61, 0.836) 0%,
    #e96662 79.66%
  );
}

#btn-back-to-top {
  position: fixed;
  bottom: 150px;
  right: 6vw;
  border-radius: 50%;
  display: none;
  color: #e02822;
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  z-index: 1000;

  /* @media(min-width:576px){
    bottom: 130px;
    right: 10vw;
  }

  @media(min-width:992px){
    bottom: 100px;
  } */
}

// global
.full-container {
  background-color: white;
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}

// flex properties
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-space {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
// button design
.btn {
  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  color: white;
  box-shadow: 0px 4px 4px rgba(227, 46, 46, 0.3);
}
.btn.primary {
  background-color: rgba(227, 46, 46, 0.85);
  border: 0.1rem solid rgba(227, 46, 46, 0.85);
}
.btn.primary:hover {
  background-color: rgba(227, 46, 46, 1);
  border: 0.1rem solid rgba(227, 46, 46, 1);
}
.btn.hover {
  background-color: white;
  color: black;
  border: 0.1rem solid rgba(227, 46, 46, 0.85);
}
.btn.hover:hover {
  background-color: rgba(227, 46, 46, 0.85);
  color: white;
}

// select design
.select-option {
  padding: 0.2rem 0rem;
}
.select-option select {
  border: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  color: black;
  border-bottom: 0.1rem solid rgba(227, 46, 46, 0.85);
  box-shadow: 0px 4px 4px rgba(227, 46, 46, 0.3);
}
.select-option select option {
  border: none;
  border-radius: 2rem;
}
// border design
.btr-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.bbr-5 {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

//  image decoration
img.card-img {
  width: 18.5rem;
}
