.full-container {
  .brand {
    margin: auto 0;
  }
  .menu-item {
    padding-left: 3rem;
    margin: auto 0;
  }
  .menu-item div {
    padding-left: 2rem;
  }
  .right-nav {
    margin: auto 0;
  }
  .right-nav div {
    padding-left: 2rem;
  }
}
